//- @pugdoc
    name: navItem
    arguments:
        - {array}       params.elClasses
        - {string}      params.link
        - {array}       params.linkClasses
        - {string}      params.btnType
        - {string}      params.text
        - {boolean}     params.active

mixin navItem (params)
    li(class=`nav__item` + (params.active == true ? ` nav__item_state_active` : ``) + (params.elClasses ? ` ${params.elClasses.join(' ')}` : ``))
        if params.btnType
            button(type=`${params.btnType}` class=`nav__link` + (params.linkClasses ? ` ${params.linkClasses.join(' ')}` : ``))= params.text
        else
            a(href=`${params.link}` class=`nav__link` + (params.linkClasses ? ` ${params.linkClasses.join(' ')}` : ``))= params.text
