extends ./../layout

include ./../../mixins/menu
include ./../../mixins/social
include ./../../mixins/form-message

block title
    | Portfolio page
    
block content
    //- SVG
    - let svgArrowDown = require(`./../../images/icons/portf_arrow_down.svg`);
    - let svgArrowUp = require(`./../../images/icons/portf_arrow_up.svg`);
    - let svgStars = require(`./../../images/icons/stars1.svg`);
    - let svgStars2 = require(`./../../images/icons/stars2.svg`);
    - let svgStars3 = require(`./../../images/icons/stars3.svg`);
    - let svgRibbonLeft = require(`./../../images/icons/about_bg_left.svg`);
    - let svgRibbonRight = require(`./../../images/icons/about_bg_right.svg`);


    #page-top.page__content-wrapper.page-works
        .page-header.page-works__header
            video(class=`page-header__bg-video` width=`400` height=`300` autoplay loop)
                source(src=`${require('./../../video/media-background.mp4')}`)

            img(class=`page-header__bg` src=require(`./../../images/night_no_bg.png`))

            .page-header__bg-user
                svg(class=`page-header__bg-user-img` viewBox=svgStars.viewBox): use(xlink:href=svgStars.symbol)

            .page-header__user.user
                .user__avatar.avatar
                    img(class=`avatar__img` src=require(`./../../images/user-avatar.jpg`))

                h1.user__title.heading.text.text_color_white.text_size_35.text_xs-size_21.text_weight_500 Владимир Астахов

                p.user__text.text.text_color_white Личный сайт веб разработчика

                a(href=`#section-works` class=`page-header__anchor-link anchor-link btn-arrow`)
                    svg(class=`btn-arrow__icon` viewBox=svgArrowDown.viewBox): use(xlink:href=svgArrowDown.symbol)
        
        .ribbon.ribbon_theme_dark.page-works__ribbon
            .ribbon__col.ribbon__col_left
                svg(class=`ribbon__triangle ribbon__triangle_side_left` viewBox=svgRibbonLeft.viewBox): use(xlink:href=svgRibbonLeft.symbol)
            .ribbon__col.ribbon__col_right
                svg(class=`ribbon__triangle ribbon__triangle_side_right` viewBox=svgRibbonRight.viewBox): use(xlink:href=svgRibbonRight.symbol)

        .page-works__content
            .page-works__title
                .page-works__title-bg
                    svg(class=`page-works__title-bg-img` viewBox=svgStars2.viewBox): use(xlink:href=svgStars2.symbol)
                h1.about__title.heading.heading_font_2.text.text_transform_uppercase.text_size_63.text_sm-size_49.text_xs-size_35.text_color_white Мои работы

            #section-works.section.works__slider.combo-slider
                ul.slider-data
                    li.slider-data__item(data-link=`#slider-1`)
                        img(src=require(`./../../images/slider-1.jpg`) class=`slider-data__img`)
                        h4.slider-data__title Lorem ipsum dolor sit amet
                        ul.slider-data__features
                            li.slider-data__feature nisl
                            li.slider-data__feature neque
                            li.slider-data__feature nunc
                    li.slider-data__item(data-link=`#slider-2`)
                        img(src=require(`./../../images/slider-2.jpg`) class=`slider-data__img`)
                        h4.slider-data__title Fusce eget augue et augue iaculis
                        ul.slider-data__features
                            li.slider-data__feature quam
                            li.slider-data__feature risus
                            li.slider-data__feature mauris
                    li.slider-data__item(data-link=`#slider-3`)
                        img(src=require(`./../../images/slider-3.jpg`) class=`slider-data__img`)
                        h4.slider-data__title Integer pharetra ultricies dignissim
                        ul.slider-data__features
                            li.slider-data__feature vel ante
                            li.slider-data__feature elementum


                .combo-slider__main-slider.carousel

                .combo-slider__slide-info 
                    h4.combo-slider__slide-title.heading.heading_font_2.heading_decor_border-spacer.text.text_transform_uppercase.text_size_35.text_xs-size_21 Сайт школы онлайн образования
                    ul.combo-slider__work-features.work-features
                        li.work-features__item HTML
                        li.work-features__item CSS
                        li.work-features__item JAVASCRIPT
                    a(href=`#` class=`combo-slider__slide-link btn btn_color_blue`)
                        span.btn__text 
                            i.btn__icon.fa.fa-link
                            | Посмотреть сайт

                .combo-slider__nav 
                    button(type=`button` class=`combo-slider__nav-btn combo-slider__nav-btn_slider_prev`)
                        span.combo-slider__nav-icon.icomoon-icon-portf-arrow-down
                        span.combo-slider__nav-slider.carousel

                    button(type=`button` class=`combo-slider__nav-btn combo-slider__nav-btn_slider_next`)
                        span.combo-slider__nav-icon.icomoon-icon-portf-arrow-up
                        span.combo-slider__nav-slider.carousel

            .page-works__blur-bg.blur
                .blur__bg
                    img(class=`blur__img` src=require(`Images/works-bg.jpg`) alt=``)
                
                section.page-works__quotes.quotes
                    .quotes__heading-bg
                        svg(class=`quotes__heading-bg-img` viewBox=svgStars3.viewBox): use(xlink:href=svgStars3.symbol)

                    h3.quotes__title.heading.heading_font_2.text.text_transform_uppercase.text_size_63.text_sm-size_49.text_xs-size_35.text_color_white Что обо мне говорят
                    
                    ul.quotes__list
                        li.quotes__item.quote.text.text_color_white.text_style_italic
                            .quote__img.avatar.avatar_size_small
                                img(class=`avatar__img` src=require(`Images/quote-user.png`))
                            .quote__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                            span.quote__author.text.text_weight_700 Ковальчук Дмитрий
                            span.quote__author-detail — основатель Loftschool
                            
                        li.quotes__item.quote.text.text_color_white.text_style_italic
                            .quote__img.avatar.avatar_size_small
                                img(class=`avatar__img` src=require(`Images/quote-user2.png`))
                            .quote__text Этот код выдержеит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
                            span.quote__author.text.text_weight_700 Сабанцев Владимир
                            span.quote__author-detail — преподаватель

                section.page-works__contact
                    .blur__panel-wrapper
                        .blur__panel
                        form(name=`contact` class=`form form_theme_transparent` novalidate autocomplete=`off`)
                            .form__body
                                h4.form__title.heading.heading_font_2.heading_decor_border-spacer.text.text_transform_uppercase.text_size_35.text_sm-size_30.text_xs-size_21 Связаться со мной

                                label.form__field.textfield.textfield_color_white.formfield
                                    span.textfield__wrapper
                                        input(type=`text` name=`name` class=`textfield__control textfield__control_color_white formfield__control` placeholder=`Ваше имя`)
                                        span.textfield__error-message.formfield__error-message

                                label.form__field.textfield.textfield_color_white.formfield
                                    span.textfield__wrapper
                                        input(type=`email` name=`email` class=`textfield__control formfield__control` placeholder=`Ваш email`)
                                        span.textfield__error-message.formfield__error-message

                                label.form__field.textarea.textarea_color_white.formfield
                                    span.textarea__wrapper
                                        textarea(class=`textarea__control formfield__control` name=`message` placeholder=`Ваше сообщение`)
                                        span.textarea__error-message.formfield__error-message

                            .form__footer
                                button(type=`submit` class=`form__btn btn btn_color_blue `)
                                    span.btn__text.text.text_weight_500 Отправить
                                button(type=`reset` class=`form__btn btn btn_color_transparent`)
                                    span.btn__text.text Очистить

                            +form-message()

                .page-works__to-top
                    a(href=`#page-top` class=`anchor-link btn-arrow`)
                        svg(class=`btn-arrow__icon` viewBox=svgArrowUp.viewBox): use(xlink:href=svgArrowUp.symbol)


block bottom
    //- Menu
    +menu([
        { 
            text: 'Мои работы', 
            link: 'portfolio.html',
            active: true
        },
        { 
            text: 'Блог', 
            link: 'blog.html' 
        },
        { 
            text: 'Обо мне', 
            link: 'about.html'
        },
        { 
            text: 'Авторизация', 
            link: '/' 
        }
    ])
